@tailwind base;
@tailwind components;
@tailwind utilities;


.select-yellow::selection{
    color: #130101c7;
    background: #CA8A04;
}

.select-text::selection{
    background-color: #130101c7;
    color: #9c6b02;
}


.div{
    clip-path: polygon(20% 0%, 87% 0, 100% 28%, 100% 80%, 100% 100%, 20% 100%, 0 100%, 0 0);

}

.poem {
    scrollbar-color: rgb(135, 134, 134) rgb(192, 191, 191)  ;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }