/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.ul li:hover{
    transform: translateX(8px);
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.ul li .active{
    padding-bottom: 5px ;
    border-bottom: 2px solid #0a3447;
    transition: .1s;
}

.selected{
    border-bottom: 1px solid #52b5e3;
}